<h1>Hi, there! <img src="https://emojis.slackmojis.com/emojis/images/1536351075/4594/blob-wave.gif?1536351075" width="30"/> </h1>

{{{githubSummaryMarkdown}}}

<h3>Most Recent Blogposts</h3>

<table>
  <thead align="center">
    <tr border: none;>
      <td><b>🎁 Title</b></td>
      <td><b>🎁 Tags </b></td>
    </tr>
  </thead>
  <tbody>
    {{#mostRecentBlogPosts}}
    <tr>
	    <td><a href="https://imbhargav5.com/blog/{{slug}}"><b>{{title}}</b></a></td>
      <td>{{description}}</td>
    </tr>	  
    {{/mostRecentBlogPosts}}
  </tbody>
</table>

<br/>

<h3>My Contributions</h3>

<table>
  <thead align="center">
    <tr border: none;>
      <td><b>🎁 Project</b></td>
      <td><b>🎁 Description </b></td>
      <td><b>⭐ Stars</b></td>
    </tr>
  </thead>
  <tbody>
    {{#topContributions}}
    <tr>
	    <td><a href="{{url}}"><b>{{owner.login}}/{{name}}</b></a></td>
      <td>{{{description}}}</td>
      <td>{{stargazers.totalCount}}</td>
    </tr>	  
    {{/topContributions}}
  </tbody>
</table>

<h4>Other Contributions</h4>

{{#notableContributions}} <a href="{{url}}">{{owner.login}}/{{name}}</a> ,{{/notableContributions}} etc


<p align="left">
<a href="https://twitter.com/imbhargav5" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/twitter.svg" alt="imbhargav5" height="20" width="20" /></a>
<a href="https://stackoverflow.com/users/2621400/bhargav-ponnapalli" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/stackoverflow.svg" alt="imbhargav5" height="20" width="20" /></a>
<a href="https://codesandbox.com/imbhargav5" target="blank"><img align="center" src="https://cdn.jsdelivr.net/npm/simple-icons@3.0.1/icons/codesandbox.svg" alt="imbhargav5" height="20" width="20" /></a>
</p>

[![Contact me on Codementor](https://www.codementor.io/m-badges/imbhargav5/book-session.svg)](https://www.codementor.io/@imbhargav5?refer=badge)
